/************************************************************
*************         =Detailansicht ************************
*************************************************************/

div.detail_screen {
	background-repeat:no-repeat;
	height:300px;
	background-image:url(../img/navigation/detail-bg300.gif);	
	z-index:10;
	display:none;
	margin:0px;
	position:absolute;	
}


#pic {
margin-left:2px; 
float:left;
}

.detail_screen #content {
	width:450px; 
	height:200px; 
	overflow:hidden; 
	float:left;
}

.detail_screen #content h2 {
	font: bold 12px/16px Verdana, Arial, Helvetica, sans-serif; 
	color:#a26d00; 
	margin: 2px 0px 0px 0px; 
	width:311px;
	padding-left:17px;
	overflow:hidden;
	float:left;
	display:inline;
	padding-top:0px;
}

.detail_screen #wrapper {
	color:#848484; 
	font: normal 11px/14px Verdana, Arial, Helvetica, sans-serif; 
	margin-top:30px; 
	padding-left:17px;
}

/************************************************************
*************        =Kosten        *************************
*************************************************************/
div#costswrapper {
	color:#848484; 
	font: normal 11px/14px Verdana, Arial, Helvetica, sans-serif; 
	margin-top:10px; 
	padding-left:17px;
}

#costs {
	margin-left:-10px;
	width:430px;
	position:relative;
	height:60px;
	margin-top:10px;
}

#costs td { 
	vertical-align:top
}

#costs ul#resources li {
	height: 32px;
	width: 70px;
	display:inline;
	float:left;
	margin:0px 0px;
	text-align:center;
}

#costs #resources li .value {
	color:#a6b8cb;
	font: normal 9px/11px Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	width:70px;
	left: -10px;
	top:39px;
	display:block;
}

#costs #resources li.metal .value 
{
	top:39px;
	left:-9px;
}

#costs #resources li.crystal .value {
	top:39px;
	left:-9px;
}

span.missing_resource {
	color:#ff2c2c;
}

a.build-it,
a.build-it_disabled {
	position:absolute;
/*	left:269px;	*/
	left:289px;
	margin-top:-7px;
}

.detail_screen #action li.techtree,
.detail_screen #action li.demolish {	top:20px;}

#costswrapper li.enter input{
	border: 1px solid #141A1E; 
	height:28px; 
	width:44px; 
	font-size:14pt; 
	text-align:center;
	background-color:#274650;
	color:#848484;
}

a.build-it:link,
a.build-it:visited
 {
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	background:transparent url(../img/layout/detail-spriteset.gif) 0px 0px no-repeat;
/*	background:url(../img/navigation/ausbauen_a.gif) no-repeat; */
	width:143px; 
	height:54px; 
	display:block; 
}

a.build-it:hover,
a.build-it:active {
	background:transparent url(../img/layout/detail-spriteset.gif) 0px -54px no-repeat;
	/*background:url(../img/navigation/ausbauen_b.gif) no-repeat; */
}

a.build-it_disabled:link,
a.build-it_disabled:visited
 {
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	background:transparent url(../img/layout/detail-spriteset.gif) 0px -108px no-repeat;
/*	background:url(../img/navigation/ausbauen_disabled.gif) no-repeat; */
	width:143px; 
	height:54px; 
	display:block; 
	cursor:default;
}

a.build-it_disabled:hover,
a.build-it_disabled:active {
	background:transparent url(../img/layout/detail-spriteset.gif) 0px -108px no-repeat;
/*	background:url(../img/navigation/ausbauen_disabled.gif) no-repeat; */
}

a.build-it span.textlabel {
	display:block;
	margin-top:30px;
}

a.build-it_disabled span.textlabel {
	display:block;
	margin-top:30px;
}

div#action {
	height:80px; 
	width:430px; 
	position:relative
}

div#action ul {
	list-style:none; 
	padding-top:20px; 
	line-height:20px;
}

li span.time {
	color:#ffffff;
	font-weight:bold;
}

li.techtree,
li.demolish {
	height:50px;
	position:absolute;	
	width:64px;	
	text-align:center;
	top:25px;	
}

li.techtree a span.pic,
li.demolish a span.pic,
li.techtree a span.disabled,
li.demolish a span.disabled {
	display:block;
	height:32px;
	width:32px;
	background:transparent url(../img/layout/detail-spriteset.gif) -143px 0px no-repeat;
	margin:0px auto;
}

li.techtree a:hover span.pic {	background:transparent url(../img/layout/detail-spriteset.gif) -143px -32px no-repeat;}

li.techtree a span.disabled,
li.techtree a:hover span.disabled {	background:transparent url(../img/layout/detail-spriteset.gif) -143px -64px no-repeat;}

li.demolish a span.pic {	background:transparent url(../img/layout/detail-spriteset.gif) -175px 0px no-repeat;}
li.demolish a:hover span.pic {	background:transparent url(../img/layout/detail-spriteset.gif) -175px -32px no-repeat;}

li.demolish a span.disabled,
li.demolish a:hover span.disabled {  background:transparent url(../img/layout/detail-spriteset.gif) -175px -64px no-repeat;}

li.techtree a span.label,
li.demolish a span.label {	display:block; }

li.techtree {	left:263px;}

li.demolish {	left:351px;}

li.techtree a,
li.demolish a {
	color:#848484;
	display:block;
	height:50px;
	width:64px;
	text-decoration:none;
}

li.techtree a:link,
li.techtree a:visited,
li.techtree a:focus {	display:block;}

li.techtree a:hover {	color:#ffffff;	}
li.techtree a:active {	}

li.demolish a:link,
li.demolish a:visited,
li.demolish a:focus {	display:block;	}

li.demolish a:hover {	color:#ffffff;	}
li.demolish a:active {	}

#planet .detail_screen #content span.level {
	margin-top:3px;
	float:left;
	width:100px;
	color:#a26d00;	
	font-size:11px;	
/*	font-weight:bold; */
}

/***********************************************************************
************** =Lager   *************************************************
************************************************************************/

ul#storage {
	background:url(../img/navigation/bg-storagebuttons.gif) no-repeat;
	height:80px;
	list-style:none;
	margin:0px 0px 0px 17px;
}

ul#storage li.on div.buildingimg,
ul#storage li div.pusher {
	background: url(../img/navigation/storage-on.jpg) no-repeat;
}

ul#storage li.off div.buildingimg {
	background: url(../img/navigation/storage-off.jpg) no-repeat;
}
ul#storage li.disabled div.buildingimg {
	background: url(../img/navigation/storage-disabled.jpg) no-repeat;
}

ul#storage { 
	width:640px;
	height:80px;
	margin:3px auto 0px 17px;	
	position:relative;
}

ul#storage li {
	width:80px;
	height:80px;
	background-repeat:no-repeat;
	top:0px;
	position:absolute;
	list-style-type:none;	
}

ul#storage li a:link,
ul#storage li a:visited {
	display:block;
	height:80px;
	width:80px;
	background:url(../img/navigation/ecke_neu_80.gif) no-repeat;
	color:#FF9600;
	text-decoration:none;	
}
ul#storage li a:hover,
ul#storage li a.active
{
	background:url(../img/navigation/ecke_neu_80_mo.gif) no-repeat;
	color:#FF9600;
	text-decoration:none;	
}
ul#storage li a:focus,
ul#storage li a:active {
	background:url(../img/navigation/ecke_neu_80.gif) no-repeat;
	color:#FF9600;	
	text-decoration:none;
}

ul#storage li#button7 {
	left:11px;
}
ul#storage li#button8 {
	left:118px;
}
ul#storage li#button9 {
	left:225px;
}

ul#storage li.on div.supply22 div.buildingimg,
ul#storage li.off div.supply22 div.buildingimg,
ul#storage li.disabled div.supply22 div.buildingimg,
ul#storage li div.supply22 div.buildingimg div.pusher {
	background-position: 0px 0px;
}


ul#storage li.on div.supply23 div.buildingimg,
ul#storage li.off div.supply23 div.buildingimg,
ul#storage li.disabled div.supply23 div.buildingimg,
ul#storage li div.supply23 div.buildingimg div.pusher {
	background-position: -80px 0px;
}

ul#storage li.on div.supply24 div.buildingimg,
ul#storage li.off div.supply24 div.buildingimg,
ul#storage li.disabled div.supply24 div.buildingimg,
ul#storage li div.supply24 div.buildingimg div.pusher  {
	background-position: -160px 0px;
}


#RessLayer a.close_details,
#rocketsilo a.close_details,
#techinfolayer a.close_details,
#supplydepotlayer a.close_details,
#jumpgate a.close_details,
#sftcontainer a.close_details { 
	float:right; 
	margin:3px 9px 0px 0px; 
	display:inline; /* IE6 fix */
}

ul#building span.ecke,
ul#storage span.ecke,
ul#building span.eckeoben,
ul#storage span.eckeoben,
ul#stationbuilding span.eckeoben,
#shipyard ul li span.eckeoben,
#defense ul li span.eckeoben,
#buttonz span.eckeoben {
	width:50px;
	position:absolute;
	height:16px;
}

ul#storage span.eckeoben,
ul#stationbuilding span.eckeoben {
	padding-top:2px;
}

ul#building span.time,
ul#storage span.time,
ul#stationbuilding span.time,
ul#military span.time,
ul#civil span.time,
ul#defensebuilding span.time,
#buttonz ul span.time {
	display:block;
	font-weight:700;
	color:#cccccc;
	font-size:11px;
	background-color:#111000;
	position:absolute;
	padding:3px 0px;
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
	width:96px;
	top:43px;
	left:2px;
}

ul#storage span.time,
ul#stationbuilding span.time,
#shipyard ul span.time,
#research ul span.time,
#defense ul span.time {
	width:76px;
	top:30px;
}


ul#building span.ecke {
	top: 84px; 
	left: 56px;	
}

#resources ul#building span.eckeoben {
	top: 0px; 
	left: 53px;	
	padding-top:2px;
}



ul#storage span.ecke {
	top:64px;
	left:33px;
}

ul span.level {
	color:#ff9600;
	font-size:11px;
}

ul span.level span.textlabel {
	height:1px;
	left:-9999px;
	overflow:hidden;
	position:absolute;
	width:1px;
}

div#description {
	width:640px; 
	height:90px; 
	margin: 2px 0px 0px 6px;
}

div#description .textlabel {
	height:1px;
	left:-9999px;
	overflow:hidden;
	position:absolute;
	width:1px;
}

div#description p {
	padding:0 10px; 
	margin:0px; 
	margin-top:10px; 
	color:#576472; 
	font-size:11px; 
	height:80px;
	width:455px; 
	overflow:hidden;
}


/**********************************************************
********************************* =STATION *****************
***********************************************************/

#station #buttonz ul#building li.on div.station1 div.buildingimg,
#station #buttonz ul#building li.off div.station1 div.buildingimg,
#station #buttonz ul#building li.disabled div.station1 div.buildingimg {
	background-position: -400px 0px;
}
#station #buttonz ul#building li.on div.station2 div.buildingimg,
#station #buttonz ul#building li.off div.station2  div.buildingimg,
#station #buttonz ul#building li.disabled div.station2 div.buildingimg {
	background-position: -300px 0px;
}

#station #buttonz ul#building li.on div.station3  div.buildingimg,
#station #buttonz ul#building li.off div.station3  div.buildingimg,
#station #buttonz ul#building li.disabled div.station3 div.buildingimg {
	background-position: -200px 0px;
}

#station #buttonz ul#building li.on div.station4 div.buildingimg,
#station #buttonz ul#building li.off div.station4 div.buildingimg,
#station #buttonz ul#building li.disabled div.station4 div.buildingimg {
	background-position: -100px 0px;
}

#station #buttonz ul#building li.on div.station5 div.buildingimg,
#station #buttonz ul#building li.off div.station5 div.buildingimg,
#station #buttonz ul#building li.disabled div.station5 div.buildingimg {
	background-position: 0px 0px;
}

#station #buttonz ul#building li.on div.station6 div.buildingimg,
#station #buttonz ul#building li.off div.station6 div.buildingimg,
#station #buttonz ul#building li.disabled div.station6 div.buildingimg {
	background-position: -500px 0px;
}

#station #buttonz ul#building li {
	padding:0px;
	margin:0px;
}



/***************** 
Einstellungen 
****************/

#preferences #planet {
	background-repeat: no-repeat;
	height: 250px;
	margin: 0px auto;
	position: relative;
	width: 654px;
	margin-bottom:3px;
}


#preferences .c-left, 
#preferences .c-right,
#ticket .c-left,
#ticket .c-right,
#premium .c-left, 
#premium .c-right {
	height:39px;
	width:28px;	
	position:absolute;	
	top:214px;
}

#preferences #content {
	width:669px;
	margin:1px auto;
}

#preferences #content .contentzs {
	margin:0px auto;
	padding-top:0px;
	width:667px;
}


#preferences #inhalt ul.tabsbelow {
/*	background:url(../img/navigation/network-tabs-above-half.gif) no-repeat 0px 0px;
	width:650px;*/
	height:26px;
/*	border-bottom:1px solid #000000; */
/*	margin-left:9px;		*/
	margin-left:33px;
	padding-top:3px;
}

#preferences .contentzs .footer {
	background:transparent url(../img/layout/wrap-footer.gif) 0px 0px repeat-y;
	height:29px;
}

#preferences .contentzs .content {
	background:transparent url(../img/layout/wrap-body.gif) 0px 0px repeat-y;
}


#preferences .contentzs .tabwrapper {
	background: transparent url(../img/layout/header-stuff.gif) 0px 0px no-repeat; 
	height:28px;
	padding-top:0px; 
}
	
#preferences #inhalt ul.tabsbelow li {
	display:block;
	text-align:center;
	margin-top:1px;
	float:left;
	text-align:center;
	list-style-type:none;
	height:25px;
}

#preferences #inhalt ul.tabsbelow li a:link,
#preferences #inhalt ul.tabsbelow li a:visited,
#preferences #inhalt ul.tabsbelow li a:hover,
#preferences #inhalt ul.tabsbelow li a:active {
	color:#576472;
	font-weight:700;
	text-decoration:none;
	display:block;
	width:148px;
	height:25px;
	overflow:hidden;
	line-height:25px;				
}

/*#preferences #inhalt ul.tabsbelow li a:hover,
#preferences #inhalt ul.tabsbelow li a.active {
	color:#a7afb7;
	background:url(../img/navigation/network-tab-below-bg.gif) no-repeat 0px 0px; 		
}
*/
#preferences #inhalt ul.tabsbelow li a span {
	display:block;
	line-height:25px;
	height:25px;
	overflow:hidden;
}

#preferences #inhalt table.prefstable {
	font-size:11px;
	width:606px;
	border-collapse:collapse;
}

#preferences #inhalt #content .wrap {
	padding:15px 0px;
}

#preferences #inhalt #content .wrap table {
	margin:0px auto;
}


/*#preferences td input.save {
	display:block;
	background-color:#FF0000;
	border:1px solid #ffffff;
	color:#ffffff;
	font-weight:700;
	margin:10px auto;
	padding:5px 20px;
	cursor:pointer;
	width:120px;
}*/


#preferences td input,
#preferences td select {
/*	color:#848484;
	font-size:11px;
	border:1px solid #848484;
	background-color:#0E1012;
	width:118px;*/
	padding:2px 5px;
}

#preferences td input.button188 { 
	border:0px none;
	color:#0d1014;
	display:block;
	margin:0px auto;
	width:176px;
}

#preferences td input:focus {
	background-color:#13181D;
}

#preferences td select {
	padding:0px;
}

#preferences td input.save:hover {
	background-color:#FF2211;
}

#preferences #inhalt table.prefstable td.desc{
	font-weight:700;
	padding:4px 0 4px 10px;
}

#preferences #inhalt table.prefstable td {
	padding:2px 0px;
	border-collapse:collapse;
}
#preferences #inhalt table.prefstable tr.alt td {
	background-color:#13181D;
}

#preferences #inhalt table.prefstable td.value {
	text-align:center;
}
#preferences #inhalt table.prefstable td.info {
	padding:10px 0px 10px 10px;
}

#preferences #inhalt #three table.prefstable td.info {
	padding-left:10px;
	width:425px;
}

#preferences #inhalt table.prefstable td a:link,
#preferences #inhalt table.prefstable td a:visited,
#preferences #inhalt table.prefstable td a:hover,
#preferences #inhalt table.prefstable td a:active{
	color:#848484;
	text-decoration:underline;
}

#preferences #inhalt table.prefstable td a:hover {
	color:#929292;
}


#premium div.detail_screen div#description p{
	float:left;
	margin-top:4px;
	height:auto;
	width:625px;
	color:#87CEEB;
	font-weight:700;
}

#premium div.detail_screen div#description p a{
	margin-top:3px;
}


#premium div.detail_screen div#wrapper {
	color: rgb(132, 132, 132); 
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-style: normal; 
	font-variant: normal; 
	font-weight: normal; 
	font-size: 11px; 
    line-height: 14px; 
	font-size-adjust: none; 
	font-stretch: normal; 
	margin-top: 10px; 
	padding-left: 17px;
}

#premium div#inhalt p#stimulus {
	padding: 10px 15px;
	color:#848484;
}

#premium .detail_screen #content h2 {
	width:191px;
	margin-left:17px;
}

#premium .detail_screen #content span.level {
	width:220px;
	text-align:center;
	font-size:11px;
}

#premium div#features a.build-it {
	position:static;
	left:auto;
	font-size:12px;
	float:right;
	margin-right:15px;
	margin-top:10px;
	display:inline /*IE6*/
}

#premium div#features a.build-it span.textlabel {
	margin-top:auto;
	padding-top:5px;
}

#premium div#features p {
	float:left;
	width:265px;
}

#premium ul#building {
	margin-top:10px;
}

.boxWrapper {
	color:#848484; ´
	margin-top:3px;
	width: 667px;
}
.boxWrapper .header {
	background:transparent url(../img/layout/wrap-header.gif) no-repeat;
	height:29px;
}
.boxWrapper .content {
	background:transparent url(../img/layout/wrap-body.gif) repeat-y;
	padding:10px 20px;
}

.boxWrapper .footer {
	background:transparent url(../img/layout/wrap-footer.gif) no-repeat;
	height:29px;
}

.boxWrapper h3 {
 	padding-top:8px;
}

h3 span{ display:block;}

.boxWrapper .content div { padding: 20px;}