/* left Menu */

#links #menuTable a:link,
#links #menuTable a:visited,
#links #menuTable a:hover,
#links #menuTable a:active { 
	color:#767f88;
	display:block;
	font: bold 11px/14px verdana, arial, helvetica, sans-serif;
	text-decoration:none;
}

#links #menuTable a:hover { 	color:#ffffff;}


#links #menuTable td.menubutton_table {
	background: url(../img/navigation/hauptnavi_a.gif) no-repeat;
	height: 29px;	
	width: 135px;
}

#links #menuTable a.menubutton:link,
#links #menuTable a.menubutton:visited,
#links #menuTable a.menubutton:hover,
#links #menuTable a.menubutton:active {
	height: 29px;
	text-align:center;
	width: 135px;
	line-height:25px;
	vertical-align:middle;
}

#links #menuTable a.menubutton:hover,
#links #menuTable a.menubutton:active{
	background: url(../img/navigation/hauptnavi_b.gif) no-repeat;
}

#links #menuTable a.selected:link,
#links #menuTable a.selected:visited,
#links #menuTable a.selected:hover,
#links #menuTable a.selected:active {
	background: url(../img/navigation/hauptnavi_b.gif) no-repeat;
	color:#fff;
}

/* Right Menu */

#rechts .smallplanet a { text-decoration:none;}

#rechts #cutty .smallplanet { height:45px; }
#rechts #norm .smallplanet { height:60px; }

#rechts .smallplanet {
	margin:5px 0px 2px 4px;
	text-align:center;
	width:130px;
	overflow:hidden;
	position:relative;
}

#rechts .smallplanet a.planetlink:link,
#rechts .smallplanet a.planetlink:visited {
	display:block;
	height:60px;
	color:#5b6b80;
}

#rechts #cutty .smallplanet a.planetlink:link,
#rechts #cutty .smallplanet a.planetlink:visited {	height:45px;}

#rechts .smallplanet a.planetlink:hover {
	color:#ffffff;	
}

#rechts .smallplanet a.constructionIcon { 
	cursor:pointer;
	display:block;
	height:12px;
	position:absolute;
	top:9px;
	right:19px;
	width:12px;
}
#rechts .smallplanet a.planetlink:active{	text-decoration:none;}

#rechts .smallplanet a.planetlink:hover,
#rechts .smallplanet a.active{
	display:block;
	background-image:url(../img/navigation/rahmen-klein.gif);
	background-repeat:no-repeat;
	background-position: 18px top;
}


#rechts #cutty .smallplanet a.planetlink:hover{
	display:block;
	background:url(../img/layout/border-cutty.gif) 18px 0px no-repeat;
}


#rechts .smallplanet a.planetlink_inactive:link,
#rechts .smallplanet a.planetlink_inactive:visited {
	display:block;
	height:70px;
	text-decoration:none;
	color:cyan;
	cursor:default;
	background-image:url(../img/navigation/rahmen-klein.gif);
	background-repeat:no-repeat;
	background-position: 18px top;	
}

#rechts .smallplanet a.alert 
{
	position:absolute; 
	left:21px; 
	top:0px;
}


#rechts #cutty .smallplanet a.alert {
	left:21px; 
	top:0px;
}

#rechts .smallplanet a.moonlink {
	position:absolute; 
	display:block;
	left:14px;
	top:34px;
	height:23px;
	width:26px; 
}

#rechts #cutty  .smallplanet a.moonlink {
	left:14px;
	top:34px;
}

#rechts #cutty .smallplanet a.moonlink {	top:14px;} /* 19px */

#rechts a.alert span.activity { display:block; background-image:url(../img/galaxy/activity.gif); height:12px; width:12px;	}

#rechts .tinyplanet {
	margin:4px 0px 0px 22px;
	text-align:center;
	width:130px;
	overflow:visible;
	position:relative;
}

#rechts .tinyplanet a.planetlink:link,
#rechts .tinyplanet a.planetlink:visited {
	display:block;
	height:49px; /* 42px */
	text-decoration:none;
	color:#5b6b80;
}


#rechts .tinyplanet a.planetlink:hover {
	color:#ffffff;
	text-decoration:none;	
}
#rechts .tinyplanet a.planetlink:active{	text-decoration:none;}

#rechts .tinyplanet a.planetlink:hover{
	display:block;
	background-image:url(../img/navigation/rahmen-gross2.gif);
	background-repeat:no-repeat;
	background-position:left top;
}

#rechts .planet-name {
	display:block; 
	font-size:9px; 
	margin-top:0px;
}
#rechts #cutty .planet-name {
/*	padding-top:2px; */
	font-size:9px;
	display:block;
}