/* Buttons */
.button188 {
	background:transparent url(../img/layout/formular_buttons.gif) no-repeat 0px 0px;
	border: 0px none;
	color:#0D1014;
	cursor:pointer;
	font-weight:700;
	font-size:11px;
	height:27px;
	text-align:center;
	width:176px;
}

a.button188 span {
	display:block;
	line-height:27px;
	text-align:center;
}

.button188:hover {	background:transparent url(../img/layout/formular_buttons.gif) no-repeat 0px -27px;}

.buttonSave {
	background:transparent url(../img/layout/formular_buttons.gif) no-repeat 0px -54px;
	border: 0px none;
	color:#0D1014;
	cursor:pointer;
	font-weight:700;
	font-size:11px;
	height:27px;
	text-align:center;
	width:88px;
}

.buttonSave:hover {	background:transparent url(../img/layout/formular_buttons.gif) no-repeat 0px -81px;}

.buttonOK {
	background:transparent url(../img/layout/formular_buttons.gif) no-repeat -88px -53px;
	border: 0px none;
	color:#0D1014;
	cursor:pointer;
	font-weight:700;
	font-size:11px;
	height:27px;
	text-align:center;
	width:42px;
}

.buttonOK:hover {	background:transparent url(../img/layout/formular_buttons.gif) no-repeat -88px -80px;}

a.buttonSave span {
	display:block;
	line-height:27px;
	text-align:center;
}

input.textInput,
table td input.textInput,
div.contentz td input.textInput,
#preferences div.contentzs table td input.textInput,
#preferences div.contentzs table td select.textInput {
	background:#10181F;
	border:1px solid #000; 
	color:#848484;
	font-size:11px;
}

#preferences div.contentz table td input.textInput:hover { background:transparent url(../img/layout/inputbg.gif) repeat-x; }
#preferences #inhalt ul.tabsbelow li a:hover,
#preferences #inhalt ul.tabsbelow li.ui-tabs-selected a { color:#a7afb7; background:url(../img/navigation/network-tab-below-bg.gif) no-repeat 0px 0px; }