@charset "utf-8";#changelog #inhalt
h2{height:33px;background:transparent url(../img/layout/bigblackheaderbg.gif) repeat-x top left;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:18px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:bold;line-height:22px;padding:10px
0px;margin-top:20px}#changelog #inhalt
p{padding:0px
5px 30px;font-weight:100}#changelog
table#changelogtbl{border-right:1px solid #13131D;border-bottom:1px solid #10030D;border-collapse:collapse;margin:8px
auto;width:660px;color:#848484}#changelog table#changelogtbl
td.vnumber{font-weight:700}table#changelogtbl
th{font-weight:700;background-color:#252D36}#changelog #changelogtbl th,
#changelog #changelogtbl
td{border:1px
solid #171A1D;font-size:11px;padding:5px
10px;vertical-align:middle;overflow:hidden}#changelog #changelogtbl
td{background-color:#0D1014}#changelog #changelogtbl
td.paginator{padding:15px
10px}#changelog #changelogtbl tr.alt
td{background-color:#13181D}#changelog #changelogtbl tbody tr:hover td,
#changelog #changelogtbl tbody tr.alt:hover
td{background-color:#212121;color:#f1f1f1}#changelog #changelogtbl a:link,
#changelog #changelogtbl a:visited,
#changelog #changelogtbl a:hover,
#changelog #changelogtbl a:active{color:#918682}#changelog #changelogtbl a:hover{color:#d3fcd5}