@charset "utf-8";
/* CSS Document */

body#combatreport {
	background:#000000 url(../img/background/background2.jpg) fixed center no-repeat;
	color: #848484;
  	font-size: 12px;
  	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	line-height: 1;
	padding:0px 0 0;
	margin:0px 0 0;	
}
a {color: #848484;}


/*
         Toolbox CSS
	 Chris Coyier
	 http://css-tricks.com
*/
/*
	LAYOUT TOOLS
*/
.floatLeft 			{ float: left; }
.floatRight			{ float: right; }
.clear				{ clear: both; }
.layoutCenter			{ margin: 0 auto; }
.textCenter			{ text-align: center; }
.textRight			{ text-align: right; }
.textLeft			{ text-align: left; }
.textBeefy          { font-weight: 700; }
.textGrow			{ text-transform:uppercase; }
/*
	PRINT TOOLS
*/
.page-break 			{ page-break-before: always; }
/*
	TYPOGRAPHIC TOOLS
*/
.error				{ border: 1px solid #fb4343; padding: 3px; color: #fb4343; }
.warning			{ border: 1px solid #d4ac0a; padding: 3px; color: #d4ac0a; }
.success			{ border: 1px solid #149b0d; padding: 3px; color: #149b0d; }
.callOut			{ font-size: 125%; font-weight: bold; }
.strikeOut			{ text-decoration: line-through; }
.underline			{ text-decoration: underline; }
.resetTypeStyle			{ font-weight: normal; font-style: normal; font-size: 100%;
					  text-decoration: none; background-color: none; word-spacing: normal;
					  letter-spacing: 0px; text-transform: none; text-indent: 0px; }
/*
	STYLING EXTRAS
*/
.transpBlack			{ background: url(images/transpBlack.png); }
/*
	DISPLAY VALUES
*/
.hide				{ display: none; }
.show				{ display: block; }
.invisible			{ visibility: hidden; }




div.combat_round,
div#combat_result,
div.combat_round p {
	color:#999999;
}

div.round_info {
	margin-bottom:10px;
}

div.combat_round table {
	margin:0px auto;
}

div#combat_result p,
div.combat_round p{
	margin:10px 0px 10px 0px;
	text-align:center;
}


div.combat_round p.start{
	background-color: transparent;
	font-weight:700;
	text-transform:uppercase;
	padding:10px 15px;
	background-color:#101010;
	border:1px solid #433E3C;	
	filter:alpha(opacity=90); /* IE6 */
	-moz-opacity:0.9; /* Older Versions of Mozilla, like NN f.e. */
	-khtml-opacity: 0.9; /* Safari */
	opacity: 0.9;
}
div.combat_round p.opponents{
	font-size:12px;
	font-weight:700;
	filter:alpha(opacity=80); /* IE6 */
	-moz-opacity:0.8; /* Older Versions of Mozilla, like NN f.e. */
	-khtml-opacity: 0.8; /* Safari */
	opacity: 0.8;	
}

div.battle {
	border:1px solid #000;
	background-color:#18131D;
}

div.battle,
div#combat_result {
	margin:5px 0px;
	padding:4px 8px;
}

div#combat_result {
	background-color:#161616;
	border:1px solid #433E3C;
	margin:10px 0px;
	padding:10px 0px;
}

td.round_attacker span.name,
td.round_attacker span.weapons,
td.round_defender span.name,
td.round_defender span.weapons,
td.round_defender span.destroyed{
	background-color:#18131D;
	border:1px solid #000;
	display:block;
	padding:5px;	
}


td.newBack { background:#0D1014;}

td.round_defender span.destroyed{
	color:#cfcfcf;
	padding:5px 9px;
}

td.round_attacker span.destroyed{
	display:block;
	padding:5px 0px;
	background-color:#1b1b1b;
}


td.round_attacker span.destroyed{
	color:#cfcfcf;
	padding:5px 9px;
}

td.round_attacker table,
td.round_defender table {	margin:15px auto;}

td.round_attacker table th,
td.round_defender table th {
	background-color:#1b1b1b;
}

td.round_attacker table th,
td.round_attacker table td,
td.round_defender table th,
td.round_defender table td {
	border:1px solid #303030;
	padding:5px 8px;
}

td.round_attacker table td,
td.round_defender table td{	background-color:#0D1014;}

span.loot {	color:#fefefe;}
body#combatreport div#master { font-size:11px;}
