@charset "utf-8";

/* CSS Document */
#galaxy #message-wrapper {
	display:none;
}

#galaxy #inhalt {
	margin-top:-44px;
}

#galaxytable {
/* 	background: transparent url(../img/galaxy/bg.jpg) repeat-y; */
	width:654px;
}

#galaxyscroll,#solarscroll {
	float:left;
	text-align:center;
	height:50px;	
}

#galaxy table.legende {
	width:150px;
	margin:0px auto;
}

#galaxy table.legende td {
	padding:2px 6px;
	font-size:10px;
	text-align:left;
}

#galaxy table.legende td.abbreviation {
	text-align:center;
}

#galaxyscroll span,#solarscroll span {
	display:block; 
	text-align:center
}

#solarscroll div {
	text-align:center; 
	margin:0px auto; 
	width:80px;
}	

#galaxyscroll {
	width:85px;
}

#expeditionbutton,#showbutton {
	height:24px;
/*	float:left;
	margin-left:0px;
<<<<<<< .mine
	margin-top:25px;*/
	display:inline;	/* IE6 */
}

#extendedgalaxy { /*	float:left;*/
	width: 200px;
	/*	margin-left:58px;*/
	padding-top: 2px;
	display: inline; /* IE6 */
	text-align: right;
}

#extendedgalaxy a {
	color: #7c7c7c;
	text-decoration: none;
}

#expeditionbutton span,#showbutton span {
	float: left;
}

#expeditionbutton .bleft,#expeditionbutton .bright,#expeditionbutton .text,#showbutton .bleft,#showbutton .bright,#showbutton .text
	{
	height: 24px;
	line-height: 24px;
}

#expeditionbutton .bleft,#showbutton .bleft {
	width: 2px;
	background: transparent url(../img/galaxy/exp-bleft.gif) no-repeat 0px;
}

#expeditionbutton .bright,#showbutton .bright {
	width: 14px;
	background: transparent url(../img/galaxy/exp-bright-arrow.gif)
		no-repeat 0px;
}

#expeditionbutton .text,#showbutton .text {
	padding: 0px 10px;
	background: transparent url(../img/galaxy/exp-bg.gif) repeat-x -1px 0px;
}

#expeditionbutton a:link,#expeditionbutton a:visited,#expeditionbutton a:hover,#expeditionbutton a:active,#showbutton a:link,#showbutton a:visited,#showbutton a:hover,#showbutton a:active
	{
	color: #ffffff;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

#expeditionbutton a:hover,#extendedgalaxy a:hover,#showbutton a:hover {
	color: #99CC00;
}

#galaxyscroll a,#solarscroll a {
	float: left;
	height: 24px;
	width: 25px;
}

#galaxyscroll input,#solarscroll input {
	background: #000000 none repeat scroll 0px 0px;
	border: 0pt none;
	color: #ffffff;
	padding: 0px;
	width: 30px;
	height: 20px;
	line-height: normal;
	text-align: center;
	font-size: 12px;
	font-size-adjust: none;
	font-stretch: normal;
	font-variant: normal;
	font-weight: 700;
	padding: 4px 0px 0px 0px;
	float: left;
}

#solarscroll {
	width: 150px;
	height: 50px;
}

#galaxyheadbg {
	width: 654px;
	height: 64px;
	background: transparent url(../img/galaxy/kopf1-bg.gif) no-repeat;
	position: relative;
}

#galaxyheadbg td,#galaxyheadbg th,#galaxyheadbg2 td,#galaxyheadbg2 th {
	background: none;
}

#galaxy tr#galaxyheadbg td {
	padding: 5px 0px 0px 7px;
	color: #ffffff;
}

#galaxy #galaxytable td.emptyspace {
	height: 31px;
}

#galaxyheadbg2 {
	width: 654px;
	height: 25px;
	background: transparent url(../img/galaxy/kopf2-bg.gif) no-repeat;
	position: relative;
}

#galaxy #galaxytable { /*	width:654px;*/
	margin: 0px auto;
	color: #7c7c7c;
	overflow: hidden;
}

#galaxy #galaxytable td.planetname a:link,#galaxy #galaxytable td.planetname a:visited,#galaxy #galaxytable td.planetname a:hover,#galaxy #galaxytable td.planetname a:active,#galaxy #galaxytable td.planetname1 a:link,#galaxy #galaxytable td.planetname1 a:visited,#galaxy #galaxytable td.planetname1 a:hover,#galaxy #galaxytable td.planetname1 a:active
	{
	color: #1A1313;
}

#galaxy #galaxytable td.planetname a:hover,#galaxy #galaxytable td.planetname1 a:hover
	{
	color: #99cc00;
}

#galaxy table th,#galaxy table td {
	text-align: center;
	padding: 0px 0px;
	/* 	line-height:25px; */
	font-size: 12px;
}

#galaxy table th {
	font-weight: 700;
}

#galaxy #galaxytable tr.row {
	background-image: url(../img/galaxy/row-bg.gif);
	background-color: #151616;
	/*	height:28px; 	*/
	position: relative;
}

#galaxy #galaxytable tr.row td {
	vertical-align: middle;
	font-size: 11px;
	height: 30px;
	overflow: hidden;
}

#galaxy #galaxytable tr.row td.microplanet:hover,#galaxy #galaxytable tr.row td.microplanet1:hover,#galaxy #galaxytable tr.row td.moon img:hover,#galaxy #galaxytable tr.row td.debris img:hover,#galaxy #galaxytable tr.row td.playername:hover,#galaxy #galaxytable tr.row td.allytag span.allytagwrapper:hover
	{
	color: #55ccdd;
	cursor: pointer;
}

#galaxy #galaxytable tr.row td.playername a {
	text-decoration: none;
}

#galaxy #galaxytable tr.row td span.status {
	font-size: 10px;
}

#galaxy #galaxytable td.toppad {
	padding-top: 3px;
}

#galaxy #galaxytable td {
	background: none;
	vertical-align: top;
}

#galaxy #galaxytable tr.none {
	background: none;
	position: relative;
}

#galaxy span.activity {
	display: block;
	background-image: url(../img/galaxy/activity.gif);
	height: 12px;
	width: 12px;
}

#galaxy #galaxytable td.spacer01 {
	width: 6px;
}

#galaxy #galaxytable td.position {
	width: 24px;
	text-align: right;
	padding: 0px 6px 0px 0px;
}

#galaxy #galaxytable td.microplanet,#galaxy #galaxytable td.microplanet1
	{
	width: 38px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	color: #55ccdd;
}

#galaxy #galaxytable td.microplanet1:hover {
	cursor: auto;
}

#galaxy #galaxytable tr.row td.planetname,#galaxy #galaxytable tr.row td.planetname1
	{
	width: 161px;
	vertical-align: middle;
}

#galaxy #galaxytable td.planetname1:hover {
	cursor: auto;
}

#galaxy #galaxytable td.moon {
	width: 34px;
	text-align: center;
}

#galaxy #galaxytable td.spacer02 {
	width: 14px;
}

#galaxy #galaxytable td.debris {
	width: 34px;
}

#galaxy #galaxytable td.playername {
	width: 151px;
	padding-top: 2px;
}

#galaxy #galaxytable td.spacer03 {
	width: 5px;
}

#galaxy #galaxytable tr.row td.allytag {
	width: 101px;
	padding-top: 2px;
	vertical-align: middle;
}

#galaxy #galaxytable td.spacer04 {
	width: 4px;
}

#galaxy #galaxytable td.action {
	text-align: left;
	width: 72px;
	padding: 0px;
	margin: 0px;
	white-space: nowrap;
	vertical-align: top;
}

#galaxy #galaxytable td.action a {
	padding: 0px;
	margin: 0px 2px 0px 0px;
	float: left;
	width: 16px;
	height: 16px;
	display: inline; /*IE6 */
}

#galaxy #galaxytable td.action img {
	padding: 0px;
	margin: 0px;
	border: none 0px;
}

#galaxy #galaxytable td.end {
	width: 4px;
}

#galaxy #galaxytable tr.footer {
	background: transparent url(../img/galaxy/footer-bg.gif);
	position: relative;
}

#galaxy #galaxytable tr.footer td {
	height: 28px;
	color: #ccd3cf;
	font-size: 11px;
}

#galaxy #galaxytable tr.footer span {
	padding: 0px 10px;
}

#galaxy #galaxytable tr.footer span#probes :hover,#galaxy #galaxytable tr.footer span#recycler
	:hover,#galaxy #galaxytable tr.footer span#rockets :hover,#galaxy #galaxytable tr.footer span#slots
	:hover {
	color: #55ccdd;
	cursor: help;
}

#galaxy #galaxytable tr.footer span span {
	padding: 0px;
}

/***************** rocketattack *********************/
#extendedgalaxy,#expeditionbutton,#showbutton {
	position: absolute;
}

#showbutton {
	top: 25px;
	left: 206px;
}

#expeditionbutton {
	top: 25px;
	left: 307px;
}

#extendedgalaxy {
	top: 0px;
	left: 402px;
}


#extendedgalaxy {
/*	float:left;*/
	width:200px;
/*	margin-left:58px;*/
	padding-top:2px;
	display:inline; /* IE6 */
	text-align:right;
}
#extendedgalaxy a{
	color:#7c7c7c;
	text-decoration:none;
}


#expeditionbutton span,
#showbutton span {
	float:left;
}

#expeditionbutton .bleft,
#expeditionbutton .bright,
#expeditionbutton .text,
#showbutton .bleft,
#showbutton .bright,
#showbutton .text {
	height:24px;
	line-height:24px;
}

#expeditionbutton .bleft,
#showbutton .bleft {
	width:2px;
	background:transparent url(../img/galaxy/exp-bleft.gif) no-repeat 0px;
}

#expeditionbutton .bright,
#showbutton .bright {
	width:14px;
	background:transparent url(../img/galaxy/exp-bright-arrow.gif) no-repeat 0px;
}

#expeditionbutton .text,
#showbutton .text {
	padding:0px 10px;
	background:transparent url(../img/galaxy/exp-bg.gif) repeat-x -1px 0px;
}

#expeditionbutton a:link,
#expeditionbutton a:visited,
#expeditionbutton a:hover,
#expeditionbutton a:active,
#showbutton a:link,
#showbutton a:visited,
#showbutton a:hover,
#showbutton a:active{
	color:#ffffff;
	text-decoration:none;
	display:block;
	cursor:pointer;
}

#expeditionbutton a:hover,
#extendedgalaxy a:hover,
#showbutton a:hover {
	color:#99CC00;
}


#galaxyscroll a,
#solarscroll a {
	float:left; 
	height:24px; 
	width:25px;
}

#galaxyscroll input,
#solarscroll input {
	background:#000000 none repeat scroll 0px 0px; 
	border:0pt none; 
	color:#ffffff; 
	padding:0px; 
	width:30px; 
	height:20px; 
	line-height:normal; 
	text-align:center; 
	font-size:12px; 
	font-size-adjust:none; 
	font-stretch:normal; 
	font-variant:normal;  
	font-weight:700; 	
	padding:4px 0px 0px 0px; 
	float:left;
}

#solarscroll {
	width:150px;
	height:50px;
}


#galaxyheadbg {
	width:654px;
	height:64px;
	background: transparent url(../img/galaxy/kopf1-bg.gif) no-repeat;
	position:relative;
}

#galaxyheadbg td,
#galaxyheadbg th,
#galaxyheadbg2 td,
#galaxyheadbg2 th {
	background:none;
}

#galaxy tr#galaxyheadbg td {
	padding:5px 0px 0px 7px;
	color:#ffffff;	
}

#galaxy #galaxytable td.emptyspace {
	height:31px;
}

#galaxyheadbg2 {
	width:654px;
	height:25px;
	background: transparent url(../img/galaxy/kopf2-bg.gif) no-repeat;
	position:relative;	
}


#galaxy #galaxytable,
#galaxy #galaxytableHead {
/*	width:654px;*/
	color:#7c7c7c;
	margin:0px auto;
	overflow:hidden;
}

#galaxy #galaxytable td.planetname a:link,
#galaxy #galaxytable td.planetname a:visited,
#galaxy #galaxytable td.planetname a:hover,
#galaxy #galaxytable td.planetname a:active,
#galaxy #galaxytable td.planetname1 a:link,
#galaxy #galaxytable td.planetname1 a:visited,
#galaxy #galaxytable td.planetname1 a:hover,
#galaxy #galaxytable td.planetname1 a:active {	color:#1A1313;}

#galaxy #galaxytable td.planetname a:hover,
#galaxy #galaxytable td.planetname1 a:hover {	color:#99cc00;}

#galaxy table th,
#galaxy table td{
	text-align:center;
	padding:0px 0px;
/* 	line-height:25px; */
	font-size:12px;
}

#galaxy table th {
	font-weight:700;
}

#galaxy #galaxytable tr.row {
	background: transparent url(../img/galaxy/row-bg.gif) no-repeat;
/*	height:28px; 	*/
	position:relative;

}

#galaxy #galaxytable tr.row td {	
	vertical-align:middle; 
	font-size:11px;
	height:30px;	
	overflow:hidden;
}

#galaxy #galaxytable tr.row td.microplanet:hover,
#galaxy #galaxytable tr.row td.microplanet1:hover,
#galaxy #galaxytable tr.row td.moon img:hover,
#galaxy #galaxytable tr.row td.debris img:hover,
#galaxy #galaxytable tr.row td.playername:hover,
#galaxy #galaxytable tr.row td.allytag span.allytagwrapper:hover {
	color:#55ccdd;
 	cursor:pointer;
 }
#galaxy #galaxytable tr.row td.playername a{
	text-decoration:none;
}
 
 
 
#galaxy #galaxytable tr.row td span.status {	font-size:10px;}

#galaxy #galaxytable td.toppad { padding-top:3px;}
#galaxy #galaxytable td {	background:none;	
							vertical-align:top;
}

#galaxy #galaxytable tr.none {	
							background:none;	
							position:relative;	
}

#galaxy span.activity { 	
	display:block; 
	background-image:url(../img/galaxy/activity.gif); 
	height:12px; 
	width:12px;	
}

#galaxy #galaxytable td.spacer01 {width:6px;}

#galaxy #galaxytable td.position {
	width:24px; 
	text-align:right; 
	padding:0px 6px 0px 0px;
}

#galaxy #galaxytable td.microplanet,
#galaxy #galaxytable td.microplanet1 {
	width:38px;
	padding:0px 0px 0px 0px;
	text-align:left;
	color:#55ccdd;
}

#galaxy #galaxytable td.microplanet1:hover { cursor:auto;}

#galaxy #galaxytable tr.row td.planetname,
#galaxy #galaxytable tr.row td.planetname1 {
	width:161px; 
	vertical-align:middle;
}

#galaxy #galaxytable td.planetname1:hover { cursor:auto;}

#galaxy #galaxytable td.moon {	
	width:34px;	
	text-align:center;
}

#galaxy #galaxytable td.spacer02 {	width:14px;}

#galaxy #galaxytable td.debris {	width:34px;}

#galaxy #galaxytable td.playername {	
	width:151px;
	padding-top:2px;	
}

#galaxy #galaxytable td.spacer03 {	width:5px;}

#galaxy #galaxytable tr.row td.allytag {	
	width:101px;
	padding-top:2px; 
	vertical-align:middle;	
}

#galaxy #galaxytable td.spacer04 {	width:4px;}

#galaxy #galaxytable td.action {
	text-align:left;
	width:72px; 
	padding:0px; 
	margin:0px;
	white-space:nowrap;
	vertical-align:top;
}

#galaxy #galaxytable td.action a {
	padding:0px;
	margin:0px 2px 0px 0px; 
	float:left;
	width:16px;
	height:16px;
	display:inline; /*IE6 */
}
#galaxy #galaxytable td.action img {
	padding:0px;
	margin:0px;
	border:none 0px;
}

#galaxy #galaxytable td.end {	width:4px;	}


/* Tabellenende Footer/Info */



#galaxy #galaxytable tr.footer,
#galaxy #galaxytable tr.info,
#galaxy #galaxytableHead tr.info {
	background: transparent url(../img/galaxy/kopf2-bg.gif);
	position:relative;
}


#galaxy #galaxytable tr.footer td,
#galaxy #galaxytable tr.info td,
#galaxy #galaxytableHead tr.footer td,
#galaxy #galaxytableHead tr.info td {
	color:#ccd3cf;
	font-size:11px;
	height:25px;
	padding-top:5px;
}

#galaxy #inhalt td#fleetstatusrow { padding:0px;}

td#fleetstatusrow div {
	border: none;
	font-weight:700;
	padding:5px 5px 7px 5px;
}


#fleetstatusrow .success { color: #149B0D; }
#fleetstatusrow .error { color: #f00; }
#fleetstatusrow .notice { color: #f00; }
#fleetstatusrow .vacation { color: aqua;}

#galaxy #galaxytable tr.footer span,
#galaxy #galaxytable tr.info span,
#galaxy #galaxytableHead tr.info span {
	color:#55ccdd;
	padding:0px 10px;
}

#galaxy #galaxytable tr.footer span#probes:hover,
#galaxy #galaxytable tr.footer span#recycler:hover,
#galaxy #galaxytable tr.footer span#rockets:hover,
#galaxy #galaxytable tr.footer span#slots:hover {
	color:#55ccdd;
	cursor:help;
}


#galaxy #galaxytable tr.footer span:hover,
#galaxy #galaxytable tr.info span:hover {
	color:#99cc00;
	cursor:help;
}

#galaxy #galaxytable tr.footer span span,
#galaxy #galaxytable tr.info span span {
	padding:0px;
}


/***************** rocketattack *********************/



#extendedgalaxy,
#expeditionbutton,
#showbutton {
	position:absolute;
}

#showbutton {	top:25px; left:206px;	}
#expeditionbutton { top:25px; left:307px;}
#extendedgalaxy { top:0px; left:402px;	}







/***************************************
		Raketenangriff
***************************************/
#galaxyadv #rocketattack,#galaxy #rocketattack
	{
	color:#848484;
	width:649px; 
	height:216px;
	background: transparent url(../img/layout/raketenangriff_bg.jpg) no-repeat;
	border:1px solid #000000;
	z-index:50;
}

#galaxyadv #rocketattack {
	z-index:50;
	left:50%;
	margin:150px 0px 0px -324px;
	position:absolute;
}

#galaxyadv #rocketattack h3,#galaxy #rocketattack h3 {
	color:#ff0000;
	font-size:12px;
	padding-top:9px;
	padding-bottom:15px;	
	text-align:center;
	font-weight:700;
	float:left;
	width:625px;
	text-transform:uppercase;
}

#galaxyadv #rocketattack .close,#galaxy #rocketattack .close {
	float:right; 
	display:inline; 
	margin:3px 3px 0px 0px;
}

#galaxyadv #rocketattack select,#galaxyadv #rocketattack input,#galaxy #rocketattack select,#galaxy #rocketattack input
	{
	color:#848484;
	font-size:11px;
	border:1px solid #848484;
	background-color:#0E1012;
	padding:2px 5px;
	width:20px;
}

#galaxyadv #rocketattack input.textinput,#galaxy #rocketattack input.textinput
	{
	width: 30px;
}

#galaxyadv #rocketattack select,#galaxy #rocketattack select {
	width: auto;
}

#galaxyadv #rocketattack input#fire,#galaxy #rocketattack input#fire {
	display:block;
	margin:15px auto 0px;
	width:275px;
	height:52px;
	background: transparent url(../img/layout/rocketattack-button.gif)
		no-repeat 0px 0px;
	text-align:center;
	font-weight:700;
	font-size:18px;
	color:#FFFFFF;
	border:0px none;
	opacity:1.0;
	cursor:pointer;
}

#galaxyadv #rocketattack #grid,#galaxy #rocketattack #grid {
	float:right; 
	width:435px; 
	text-align:center;
	height:200px;
	font-weight:700;
	margin-right:90px;
	display:inline;
}

#galaxyadv #rocketattack span#target,#galaxyadv #rocketattack span#infos,#galaxy #rocketattack span#target,#galaxy #rocketattack span#infos
	{
	font-size:12px; 
	width:75%;
	margin:0px auto;
	padding:15px 0px;
	opacity:0.9;
}

#galaxyadv #rocketattack span#target,#galaxy #rocketattack span#target {
	margin-top: 10px;
}

#galaxyadv #rocketattack span#target,#galaxyadv #rocketattack span#numberrockets,#galaxyadv #rocketattack span#infos,#galaxyadv #rocketattack span#primarytarget,#galaxy #rocketattack span#target,#galaxy #rocketattack span#numberrockets,#galaxy #rocketattack span#infos,#galaxy #rocketattack span#primarytarget
	{
	display: block;
}

#galaxyadv #rocketattack span#primarytarget,#galaxy #rocketattack span#primarytarget
	{
	margin-bottom: 10px;
}

#galaxyadv #rocketattack span#numberrockets,#galaxy #rocketattack span#numberrockets
	{
	font-weight:100;
	padding-bottom:10px;
}

#galaxyadv #rocketattack span#numberrockets,#galaxy #rocketattack span#numberrockets
	{
	margin-bottom: 5px;
}

#galaxyadv #rocketattack span#number,#galaxy #rocketattack span#number {
	font-size: 10px;
}

#galaxyadv #rocketattack span#name,#galaxy #rocketattack span#name {
	color: #db020b;
}

#galaxyadv #rocketattack span#position,
#galaxy #rocketattack span#position {	color:#f1f1f1;}

.fleetAction {
	display:block;
	height:12px;
	margin:0px 0px 0px 25px;
	overflow:hidden;
	text-align:center;
	width:12px;
}

.fleetNormal {	background: url(../img/layout/fleet_12x12.gif) no-repeat; }
.fleetHostile {	background: url(../img/layout/fleet_12x12_hostile.gif) no-repeat; }
.fleetNeutral {	background: url(../img/layout/fleet_12x12_neutral.gif) no-repeat; }


.backGalaxy,
.backGalaxyOff,
.forwardGalaxy,
.forwardGalaxyOff { background: transparent url(../img/galaxy/arrows-spriteset.gif) no-repeat; }

.backGalaxy { background-position: 0px -24px}
.backGalaxy:hover { background-position: -50px -24px}
.forwardGalaxy { background-position: 0px 0px}
.forwardGalaxy:hover { background-position: -50px 0px}
.backGalaxyOff { background-position: -25px -24px }
.forwardGalaxyOff { background-position: -25px 0px }
