@charset "utf-8";
/* CSS Document */


#imperiumb div.content table#planets table#data {
	background:url(../img/navigation/imperium-table-bg1.gif) repeat-y 5px 0px;
}

#imperiumb div.content table#planets table#data td.desc-footer {
	background:url(../img/navigation/imperium-table-footer1.gif) no-repeat 5px 0px;
	height:5px;
}

#imperiumb div.content table#planets tr.resource td.switch {
	background:url(../img/navigation/row-open-bg.gif) no-repeat 0px;
	cursor:pointer;
}

#TTWrapper div.TTInner th span.spacing,
#TTWrapper div.TTInner td span.spacing {
	display:block;
	margin-top:2px;
}



#techtree ul.subsection_tabs li {
	margin-top:2px;
}