@charset "utf-8";
#messagebox {
	background-color:#0D1014; 
	border:1px solid #13181d;
	color:#848484; 
/*	height:508px; */
	height:480px; 
	width:775px; 
	margin:1px auto 0px 1px;
	overflow:hidden;
}

#messagebox a:link,
#messagebox a:visited,
#messagebox a:hover,
#messagebox a:active {
	color:#636363;
	text-decoration:underline;
}

#messagebox form { padding:0px; margin:0px;}

/*#messagebox #header { 
	height:16px;
	line-height:16px;
}
*/
#messagebox table { width:99% !important;}

#messagebox .contentpaginator{ 
	background:#13181D;
	margin:0px;
	padding-bottom:5px;
}

#messagebox .contentpaginator td {	text-align: center; }

#messagebox th { 
	text-align:right; 
	vertical-align:top; 
}


.infohead table th,
.infohead table td,
#messagebox td.pages {	font: 100 11px Verdana, Arial, Helvetica, sans-serif; }

.infohead table th {
	font-weight:700;
	padding-right:5px;
	width: 182px;
}

.infohead span.new {
	font-weight:700;
	padding-left:10px;
}

.infohead span.new span{
	background-color:#848484;
	color:#0A0A0D;
	padding:0px 3px;
	text-transform:uppercase;
}


#networkm #TB_window body,
#networkm #TB_window html {
	border-width:0px;
	border-style:none;
}


#messagebox ul.toolbar { height:20px; margin-left:1px;}

#messagebox .textWrapper {
	height:370px;
	margin:0px auto; 
	overflow-x:hidden;
	overflow-y:auto; 	
	width:772px;
}

#writemessage #messagebox .textWrapper {
	height:auto;
}

#messagebox .textWrapper .note {
	height:294px;
	padding:20px; 
}

#messagebox .infohead { 
	background-color:#0A0A0D; 
	padding:5px 0px;
}

#messagebox .infohead table  { margin:0px 5px 0px 0px	}

#messagebox ul.toolbar { 
	list-style-type:none; 
	margin:0px;
	padding:0px;
}

#messagebox ul { 
    list-style-type:square; 
}

#messagebox ul.toolbar li {	
	float:left;
	width:210px;
	background-color:#13181d;
	background-attachment:scroll;
	background-repeat:no-repeat;
	background-position: 5px 2px;
	height:20px;
	border-right:1px solid #000;
	vertical-align:middle;
}
#messagebox .showMsgNavi{
	background-color:#13181d;
	border:1px solid #000;
}
#messagebox ul li.reply {	background-image:url(../img/icons/reply.gif);}
#messagebox ul li.delete {	background-image:url(../img/icons/trash.gif);}
#messagebox ul li.tag {	background-image:url(../img/icons/checkmark.gif);}
#messagebox ul li.notify {	background-image:url(../img/icons/caution.gif);}
#messagebox ul li.share {  background-image:url(../img/icons/grow_a.gif);}

.showMsgNavi ul li a:link,
.showMsgNavi ul li a:visited,
.showMsgNavi ul li a:active {
	display:block;
	padding-left:30px;
	height:20px;
	vertical-align:middle;
	padding-top:2px;
}

#buddies.searchLayer .searchTabs ul li a,
#buddies.searchLayer .searchTabs ul li a:link,
#buddies.searchLayer .searchTabs ul li a:visited,
#buddies.searchLayer .searchTabs ul li a:active  {
	color:#6F9FC8;
	display:block;
	height:20px;
	padding:2px 0px 3px 0px;
	vertical-align:middle;
	width: 148px;
	outline:none;	
}

#buddies.searchLayer #search,
#buddies.searchLayer .searchTabs {	background: #14181d;}

#buddies.searchLayer .searchTabs { padding-bottom:5px;}

#buddies.searchLayer #ajaxContent {
	margin: -11px auto 0px auto;
	width:760px;
	background:#0d1014;
	overflow: hidden; 
}

#buddies.searchLayer #netz table.searchresults { max-height:292px;}
#buddies.searchLayer #netz table.searchresults td { padding:4px 0px;}

#buddies.searchLayer #netz table.searchresults td.pagebar { padding-bottom: 12px;}


.showMsgNavi ul li a:hover {	color:#c4c4c4;}

div.test
				{
				  	 min-height:300px;
				  	 height:300px !important;  /* für moderne Browser */
				  	 height:300px;  /*für den IE */
				}
				
textarea.mailnew {
	background-color:#212933;
	border:1px solid #000;
	color:#848484;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	height:285px;
	margin:0px auto;
	padding:0px 5px;
	width:721px;
}

body#writemessage input.textinput { 
	background-color:#212933;
	border:1px solid #000;
	color:#d4d4d4;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}
body#writemessage input.textinput { 	
	background-color:#212933;
	padding-left:2px;
	width:150px;	
}


body#writemessage input.textinput:hover,
body#writemessage input.textinput:focus { 	background-color:#212933;}

body#writemessage input.sendthismail {
	background:transparent url(../img/layout/formular_buttons.gif) no-repeat 0px -54px;
	border: 0px none;
	color:#CB9843;
	cursor:pointer;
	height:27px;
	margin-left:-44px;
	width:88px;
	text-align:center;
	font-weight:700;
	font-size:11px;
}

body#writemessage input.sendthismail:hover {
	background:transparent url(../img/layout/formular_buttons.gif) no-repeat 0px -81px;
}


.fleft {	float:left;}

body#writemessage .note { padding-left: 15px}

#writemessage .count { 
	display:inline; /* IE6 fix */
	margin-left:22px;
	width:250px;
}

#writemessage .buttonbox { 
	display:inline; /* IE6 fix */
	padding-left:116px;
	width:350px;
}

#shortreport th { 		
						padding:10px 0px;
						text-align:center; 
						vertical-align:middle; 
}

#battlereport td.value { 
							text-align:right; 
}


#battlereport #winner { 	font-weight:700;
						margin:10px auto; 
						padding:10px 0px; 
						text-align:center; 
}

table#shortreport { border-collapse:collapse;}

#shortreport td { 
					border-bottom:1px dotted #1a1a1a;
					padding-top:3px;
					font-size:11px !important;
}
#shortreport td.col01 { padding:0px 10px 0px;} 
#shortreport td.next { padding-top:8px}
#shortreport td.spacer { width:25px;} 
#shortreport td.summary { padding:5px 0px;}

#battlereport .win,
#battlereport .draw,
#battlereport .lose,
#battlereport div#combatants
 { 	background-color:#18131d;
	border:1px solid #000;
}



#battlereport h3 { 
					margin:0px;
					padding:0px 0px 10px 0px;
}


#battlereport p {	margin:0px;}


#battlereport #combatants {		
				background-color:#18131d;
				border:1px solid #000;
}  

#battlereport #combatants div { 
					float:left;
					padding:10px 0px; 
					text-align:center;
}

#messagebox th.area,
#messagebox td.defense {
	background-color:#13181D; 
	border:1px solid #000;
	font-weight:700; 
	padding:5px 0px;
	text-align:center;
}

#messagebox .spy td {	padding:5px;}
#messagebox .fleetdefbuildings td.key{ width:250px; border-bottom:1px dotted #161616;}
#messagebox .fleetdefbuildings td.value{ width:100px; border-bottom:1px dotted #161616;}



#messagebox .note table td.attack {	padding:10px 0px;}


.buttonSave,
.button188 {
	border: 0px none;
	color:#0D1014;
	cursor:pointer;
	font-weight:700;
	font-size:11px;
	height:27px;
	text-align:center;
}


.buttonSave {
	background:transparent url(../img/layout/formular_buttons.gif) no-repeat 0px -54px;
	width:88px;
}

.button188 {
	background:transparent url(../img/layout/formular_buttons.gif) no-repeat 0px 0px;
	width:176px;
}
.buttonSave:hover {	background:transparent url(../img/layout/formular_buttons.gif) no-repeat 0px -81px;}
.button188:hover {	background:transparent url(../img/layout/formular_buttons.gif) no-repeat 0px -27px;}

#messagebox .note table td.attack a.buttonSave { 
	color:#0D1014;
	display:block;
	margin:0px auto;
	text-decoration:none;
}

#messagebox .note table td.attack a span { 
	font-weight:700;
	line-height:27px;
}

#contentPageNavi { background: #13181D; }


#buddies #messagebox {
	height: 489px;
	width: 796px;
}

#buddies #messagebox a.closeTB {
	position:absolute;
	top:1px;
	right:0px;
}

/* tabsbelow layout */

ul.tabsbelow {
	background:url(../img/navigation/network-tabs-above-half.gif) no-repeat 0px 0px;
	border-bottom:1px solid #000;	
	height:26px;
	margin:0px auto;
	padding:0px;
	width:658px;	
}
	
ul.tabsbelow li {
	display:block;
	float:left;
	height:25px;	
	list-style-type:none;
	margin-top:1px;	
	text-align:center;	
}

ul.tabsbelow li a:link,
ul.tabsbelow li a:visited,
ul.tabsbelow li a:hover,
ul.tabsbelow li a:active {
	color:#576472;
	font-weight:700;
	text-decoration:none;
	display:block;
	width:148px;
	height:25px;				
}

ul.tabsbelow li.first {
	margin-left:50px;
}

ul.tabsbelow li a:hover,
ul.tabsbelow li.aktiv{
	color:#a7afb7;
	background:url(../img/navigation/network-tab-below-bg.gif) no-repeat 0px 0px; 		
}

#messagebox ul.tabsbelow li a:link,
#messagebox ul.tabsbelow li a:visited,
#messagebox ul.tabsbelow li a:hover,
#messagebox ul.tabsbelow li a:active {
	color:#576472;
	display:block;
	font-weight:700;	
	height:25px;
	overflow:hidden;		
	padding:0px;
	text-decoration:none;	
	width:148px;			
}

ul.tabsbelow li a span {
	display:block;
	padding-top:8px;
}

#buddies h2 { 
	font: bold 17px Verdana, Arial, Helvetica, sans-serif;
	margin:12px 0px;
	padding-left:70px;
}

#buddies .content { 
	height: 380px;
	overflow-x: hidden;
	overflow-y: visible;
	margin: 25px auto 0px;
	width: 658px;
}

#buddies .content table { 
	line-height: 18px;
}

#buddies .content table th,
#buddies .content table td {
	text-align:left;
	padding:2px 0px;
}

#buddies .content table th.no,
#buddies .content table td.no {
	padding-right:15px;
	text-align:right;
	width:30px;
}
#buddies .content table th { border-bottom: 1px dotted #848484;}

tr.alt td {	background: #13181D;}
tr.over td {	background: #212a33;}

.content textarea {
	background:#1a1a1a;
	border:1px solid #707070;
	color:#909090;
	font: normal 11px/15px Verdana, Arial, Helvetica, sans-serif;
	height:250px;
	margin-bottom:15px;
	padding:5px;
	width:646px;
}


.content input.button188 {
	background:transparent url(../img/layout/formular_buttons.gif) no-repeat 0px 0px;
	border: 0px none;
	color:#0D1014;
	cursor:pointer;
	font-weight:700;
	font-size:11px;
	height:21px;
	padding-top:6px;
	text-align:center;
	width:176px;
}

.content input.button188:hover {	background:transparent url(../img/layout/formular_buttons.gif) no-repeat 0px -27px;}